:root {
    --nav_color: #434141;
    --section_color: #2c2a2a;
    --primary: #37bcae;
    --text_color: #e1dfdf;
    --list_color: #4e4b4b;
}

.about_wrapper {
    width: 80%;
    min-height: 100vh;
}

.about_wrapper h1 {
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 2px solid var(--list_color);
    width: 100%;
    height: 7.5%;
    color: var(--primary);
}

.about_wrapper h1 span {
    color: var(--text_color);
}

.about_content_wrappers {
    flex: 1;
}

/* About content box (LHS) */

.about_content {
    width: 100%;
    min-height: 75%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    cursor: default;
}

.text_details p{
    font-size: 1rem;
}

.text_details p span{
    color: var(--primary);
}

.download_cv_btn {
    background-color: var(--list_color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.download_cv_btn:hover {
    background-color: var(--primary);
}

/* About content box (RHS) */

.badge_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.badge {
    margin: 2.5%;
    font-size: 1rem;
    width: 11rem;
    aspect-ratio: 1/0.6;
    color: var(--text_color);
    background-color: var(--list_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.badge h1 {
    border: none;
    font-size: 1.25rem;
}

@media (max-width: 800px) {

    .about_content {
        display: flex;
        flex-flow: column;
    }

    .text_details {
        margin: auto;
    }

    .badge_details {
        margin-top: 5%;
    }

    .badge {
        width: 15rem;
    }
}

