@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto&family=Varela+Round&display=swap');

:root {
    --nav_color: #434141;
    --section_color: #2c2a2a;
    --primary: #37bcae;
    --text_color: #e1dfdf;
    --list_color: #4e4b4b;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    display: flex;
}

/* Menu button */

#menu_container {
    z-index: 1;
    position: fixed;
    top: 1rem;
    right: -2.5rem;
    background-color: var(--nav_color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.menu {
    color: var(--text_color);
    font-size: 2rem;
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

#menu_container:hover {
    background-color: var(--primary);
}

/* Navigation bar design */

nav {
    position: sticky;
    left: 0;
    top: 0;
    background-color: var(--nav_color);
    width: 25rem;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

#profile_container { /* Profile Container Styling */
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;
}

.my_pic {
    background-color: var(--nav_color);
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: none;
    border: 7.5px solid var(--primary);
}

#name_and_profession {
    color: var(--text_color);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    cursor: default;
}

#name_and_profession h2 {
    font-size: 1.75rem;
}

#name_and_profession h3 {
    font-size: 1.05rem;
    translate: 0 -0.75rem;
}

#nav_items { /* nav list styling */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#nav_items li {
    list-style: none;
    background-color: #4e4b4b;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 500px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out;
}

#nav_items li:hover {
    background-color: var(--primary);
}

#nav_items li a {
    text-decoration: none;
    color: var(--text_color);
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Styling */

#section_container {
    width: 80%;
    min-height: 100vh;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 40, 40);
    color: white;
    font-size: 7.5vw;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: default;
}

@media (max-width: 800px) {
    
    #menu_container {
        top: 1rem;
        right: 1rem;
    }

    nav {
        width: 18rem;
        height: 100vh;
        position: fixed;
        left: -100%;
        z-index: 2;
    }

    #section_container {
        width: 100%;
    }

}

@media (max-width: 460px) {
    
    #menu_container {
        top: 1rem;
        right: 1rem;
        z-index: 3;
    }

    nav {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 2;
    }
}
