:root {
    --nav_color: #434141;
    --section_color: #2c2a2a;
    --primary: #37bcae;
    --text_color: #e1dfdf;
    --list_color: #4e4b4b;
}

.portfolio_wrapper {
    width: 90%;
    min-height: 100vh;
}

.portfolio_wrapper .heading {
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 2px solid var(--list_color);
    width: 100%;
    height: 7.5%;
    color: var(--text_color);
}

.portfolio_wrapper .heading span {
    color: var(--primary);
}

/* Portfolio Projects Div Styling */

.portfolio_projects {
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/* Portfolio Projects Div Styling */

.project {
    width: 16rem;
    height: 13rem;
    background-color: var(--list_color);
    border-radius: 30px;
    margin: 1.25%;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.8);
}

.project:nth-child(1) {
    background: linear-gradient(100deg, red, orange, rgb(229, 229, 22) , green, blue, Indigo, violet);
}

.project a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text_color);
    font-size: 1.75rem;
    transition: letter-spacing 0.3s ease-out;
}

.project a p, .project a p span  {
    font-size: 1rem;
}

.project:hover {
    letter-spacing: 1px;
}

@media (max-width: 460px) {
    
    .project {
        width: 20rem;
    }

}